.btn {
  padding: 0.8rem 2.5rem;
  text-align: center;
  text-decoration: none;
  border: 2px solid rgba(224, 219, 219, 0.933);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  color: #515151;
}

.btn:hover {
  color: rgba(81, 81, 81, 0.5);
}

.btn--rounded {
  border-radius: 15px;
}

.btn--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn__dark {
  color: white;
  background: #515151;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  border: 2px solid transparent;
}

.btn__dark--plain {
  background-color: white;
  color: #515151;
  border: 2px solid #515151;
}

.btn__dark--plain:hover {
  background-color: #515151;
  color: white;
}

.btn__dark:hover {
  color: #515151;
  border: 2px solid #515151;
  background: white;
}

.btn__primary {
  color: white;
  background: #0984e3;
  border: 2px solid transparent;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.btn__primary--plain {
  background-color: white;
  color: #0984e3;
  border: 2px solid #0984e3;
}

.btn__primary--plain:hover {
  background-color: #0984e3;
  color: white;
}

.btn__primary:hover {
  color: #0984e3;
  background-color: white;
  border-color: #0984e3;
}

.btn__warning {
  color: white;
  border: 2px solid transparent;
  background: #e84118;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.btn__warning--plain {
  background-color: white;
  color: #e84118;
  border: 2px solid #e84118;
}

.btn__warning--plain:hover {
  background-color: #e84118;
  color: white;
}

.btn__warning:hover {
  color: #e84118;
  background-color: white;
  border-color: #e84118;
}

.btn__success {
  color: white;
  background-color: #4cd137;
  border: 2px solid transparent;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.btn__success--plain {
  background-color: white;
  color: #4cd137;
  border: 2px solid #4cd137;
}

.btn__success--plain:hover {
  background-color: #4cd137;
  color: white;
}

.btn__success:hover {
  color: #4cd137;
  background: white;
  border-color: #4cd137;
}

.card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 500px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
  justify-items: center;
  margin-bottom: 2.5rem;
}

.card-container .card {
  width: 80%;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.25);
}

.card-container .card--rounded {
  border-radius: 15px;
}

.card-container .card--rounded .card__icon {
  border-radius: 15px;
}

.card-container .card .card__icon {
  background: #515151;
  padding: 1.5rem;
  height: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6rem;
}

.card-container .card .card__image {
  background: #515151;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6rem;
}

.card-container .card .card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-container .card .card__content .card__content__title {
  text-align: center;
  margin: 1.2rem 0 1.2rem 0;
}

.card-container .card .card__content .card__desc {
  width: 80%;
  font-size: 1.2rem;
  margin: 0 auto;
  padding-bottom: 2.5rem;
}

.card-container .card .card__content .btn {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.form-modern {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-modern input,
.form-modern textarea {
  margin: 10px;
}

.form-modern .field {
  padding: 1.2rem 2.5rem;
  border: 2px solid #515151;
}

.form-modern .field:first-child {
  border-top-left-radius: 50px;
  border-radius: 30px 30px 0 0;
}

.form-modern .field__message {
  height: 250px;
  padding: 1.2rem 2.5rem;
  border: 2px solid #515151;
  border-radius: 0 0 30px 30px;
}

.form-modern .submit-btn {
  padding: 1rem 1.4rem;
  background: #999999;
  border: none;
  border-radius: 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  -webkit-transition: all 50ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: all 50ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.form-modern .submit-btn:hover {
  background-color: #515151;
}

.form-modern .submit-btn:focus {
  background-color: #515151;
  outline: none;
}

.form-modern .field:focus,
.form-modern .field__message:focus {
  outline: 3.5px solid #515151;
}

.form-simple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-simple .button {
  width: 100%;
  color: white;
  padding: 10px;
  border: 0;
  font-size: 1.2rem;
  background-color: #515151;
}

.form-simple .button:hover {
  opacity: 0.75;
}

.form-simple input,
.form-simple textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.form-simple label {
  font-size: 1.2rem;
  margin: 15px 5px;
}

.form-simple input:focus,
.form-simple textarea:focus {
  outline: 3.5px solid lightgray;
  -moz-outline-radius: 10px;
  -webkit-outline-radius: 10px;
}

.subscribe {
  margin: 15px 0;
}

.subscribe .email {
  padding: 15px;
  border: 2px soild gray;
}

.subscribe .button {
  padding: 15px;
  color: white;
  border: 0;
  background-color: #0984e3;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /* Stop scrolling when nav off screen   */
  overflow-x: hidden;
}

.image {
  width: 60%;
  min-width: calc(1vw + 300px);
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */